
comic_dl/.idea/aws.xml
comic_dl/.idea/comic_dl.iml
comic_dl/.idea/inspectionProfiles/profiles_settings.xml
comic_dl/.idea/misc.xml
comic_dl/.idea/modules.xml
comic_dl/.idea/vcs.xml
comic_dl/.idea/*
.idea/*
venv/*
comic_dl/.DS_Store
*.pyc
*.spec
.DS_Store
